header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%
}

h1 {
    text-align: center;
    margin: 15px 0;
    font-size: 1.75em;
    color: black;
    background-color: lightgrey;
}

h2 {
  text-align: center;
  margin: 1px 0;
  font-size: 1em;
  font-weight: normal;
  color: slategrey;
}

p{
text-align: center;    
}

footer {
    color: dimgray;
    text-align: center;
    clear: both;
}

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

a{
    color: black;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
 font-weight: 800;
 padding: 15px 10px;
}

nav a.selected{
    color: grey;
}

body{
background-color: aliceblue;
}

